body{
  margin: 1%;
  padding: 1%;
  background-image: url(./assets/imgs/Fondo-4.gif); 
  background-size: cover; 
  justify-content: center;
}

.body{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .styleheader{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
 }
 .stylemidContent{
   width: 100%;
 }
 .stylecontenido{
   margin-top: 5%;
   width: 50%;
 }
 .stylemachine{
   width: 50%;
 }
 @media (max-width:550px){
.body{
  display: flex;
  flex-direction: column;
}

}