
.barraLateral{
  color:#fff;
  margin-left: 125px;
  
}


.plus1{
  width:25px;
  position: absolute;
  margin-left: -25px;
  
}
.participa{
  font-size: 40px;
  margin-left:11% ;
}
.botonfbmain{
 display: flex;
 margin: 7px;
 margin-left: 25%;
  }

  .second{
    margin-left: 13%;
    margin-right: 4%;
  }
  .botonfbk{
    margin-left:13%;
  }
.info{
  margin-left: 10%;
}
.mail{
  margin-left:10%; 
}
.relleno{
  
  margin-top: 6%;
  font-size: 20px;
  color:#fff;
  margin-left: 150px;
}
.relleno2{
  font-weight: normal;
}
.relleno3{
  font-weight: bold;
}
@media (max-width:550px){

  .barraLateral{
    margin-left: 0px;
    font-size: 18px;
  }
  
  .relleno{
    margin-left: 0px;
  }
  .relleno2{
    font-size: 0.8em;
  }
  .relleno3{
    font-size: 1em;
  }
 }