@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

a {
  color: #283593;
  text-decoration: none;
}
h3 {
  margin-top: 12px;
}
* {
  margin: 0px;
}
body {
  
  font-family: "Roboto", sans-serif;
}
main {
  background-image: url(../imgs/machinefinal.png);
  background-size: 473px 537px;
  background-repeat: no-repeat;
  /*margin-top: 30px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  
  width: 473px;
  height: 527px;
  /*443 x 517*/
}
section#status {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  text-align: center;
  
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}
section#Slots {
  border-radius: 15px;
  margin-top: 180px;
  margin-left: 87px;
  
}

section#Gira {
  margin-top: -300px;
  margin-left: -1px;
  padding-top: 350px;
  padding-bottom: 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  width: 10%;
  
}

section#options {
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 5px;
  
}
.option {
  padding-left: 5px;
}
section#info {
  background-color: #616161;
  padding-left: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  overflow: hidden;
  animation-duration: 1s;
  
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  display: none;
}
#slot1,
#slot2,
#slot3 {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 90px;
  width: 90px;
  height: 90px;
}
.a1 {
  background-image: url("../imgs/slot001.png");
  background-repeat: no-repeat;
}
.a2 {
  background-image: url("../imgs/slot002.png");
  
}
.a3 {
  background-image: url("../imgs/slot004.png");
  background-repeat: no-repeat;
  
}
.a4 { 
  background-repeat: no-repeat;
  background-image: url("../imgs/slot005.png");
  
}
.a5 {
  background-image: url("../imgs/slot006.png");
}
.a6 {
  background-image: url("../imgs/slot003.png");
}
