.contenido{
    color: #ffffff;
  
    
}
.encabezado{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 45px;
}
.encabezadoSecundario{
    margin: 10px;
    display: flex;
   justify-content: center;
    width: 100%;
} 
@media (max-width:550px){
    .encabezado{
        font-size: 30px;
    }
    .encabezadoSecundario{
        font-size: 18px;
    }
    .contenido{
        font-size: 25px;
    }
    .encabezado{
        display: flex;
        flex-direction: column;
    }

}
