a{
    background-color: transparent;
    margin: 20px 30px;
    display: inline-block;
    font-size: 14px;
    color: #ffff;
    
}
a:hover{
    font-size: 18px;
    color:#ffff
}

img{
    width: 15%;
    margin-left: -15%;

}
.padre{
    display:flex;
    justify-content: center;
    
}
button{
    background-color:rgb(204, 192, 192);
    color: #ffff;
    padding: 10px;
    border-color: transparent;
    display: none;
}

@media (max-width:550px){
    .padre{
        flex-direction: column;

    }
    a{
        display: flex;
        justify-content: center;
    }
    button{
        font-size: 25px;
        display: inline-block;

    }
    .oculto{
        display: none;
    }
}